body{
  background-color: beige;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 1000;
  margin-top: 30px;
  margin-left: 30px;
}

button{
  font-size: 20px;
  width: 300px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  /* text-decoration: none; */
}

.button-div{
  text-align: center;
}

table{
 border-collapse: collapse;
 width: 100%;
 background-color: white;
 margin-top: 30px;
}

.edit-button{
  font-size: 15px;
  width: 70px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.delete-button{
  font-size: 15px;
  width: 70px;
  padding: 10px 15px;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  text-align: center;
}

input{
  font-size: 15px;
  width: 50%;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-left: 20%;
}
